.nav {
    position: relative;
    width: 100%;
    background-color: var(--primary-color);
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .link {
        text-decoration: none !important;
        color: var(--secondary-color);
        font-weight: var(--font-weight);
        // font-family: system-ui;
    }

    .logo_main {
        border-radius: 15px;
        box-shadow: 0px 0px 5px dimgray;
    }
}